$dark-primary-color: #512DA8;
$primary-color: #673AB7;
$light-primary-color: #D1C4E9;
$text-icons-color: #FFFFFF;
$accent-color: #4CAF50;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

$sidebar-bg: #3e435a;
$header-bg: #f7f7f7;
