/**
 * Sourced from http://blog.javascripting.com/2015/09/07/fine-tuning-airbnbs-eslint-config/
 * with further modifications as required
 * https://github.com/airbnb/javascript/tree/master/react
 */
{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "quote-props": [1, "consistent-as-needed"],
    "no-cond-assign": [2, "except-parens"],
    "radix": 0,
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "default-case": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "quotes": 0,
    "no-var": 0,
    "prefer-arrow-callback": 0,
    "space-before-function-paren": 0,
    "comma-dangle": 0,
    "new-cap": 0,
    "no-multi-spaces": 0,
    "import/no-dynamic-require": 0,
    "arrow-parens": [
      "error",
      "always"
    ],
    "no-console": 0,
    "import/no-unresolved": 0,
    "react/require-extension": 0,
    "import/extensions": 0,
    "react/forbid-prop-types": 0,
    "no-class-assign": 0,
    "no-prototype-builtins": 0,
    "import/prefer-default-export": 0,
    "no-restricted-syntax": 0,
    "global-require": 0
  }
}
