#header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  background-color: $header-bg;
  color: #FFFFFF;
  height: 40px;
  position: absolute;
  left: 220px;
  width: 100%;
}

#header-logo {
  background-image: url('../../../images/recallab-logo-white.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-size: cover;
  margin-left: 20px;
  margin-top: 20px;
  opacity: 0.8;
}

.header-separator {
  background-color: $primary-color;
  position: absolute;
  width: 1px;
  height: 100%;
  left: 80px;
  opacity: 0.1;
}
